  body {
    background-color: mistyrose;
  }

  h1 {
    color: #708090
  }
  h3 {
    color: #708090
  }

  hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
  }
